@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700&display=swap');



/* share style section */
body {
    font-family: Mulish;
    background-color: #FFF;
}

.conteiner {
    width: 100%;
    max-width: 1105px;
    margin: 0 auto;
}

.secction-tittle {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.primary-discription {
    font-size: 1rem;
    font-weight: 400;
    color: #FFF;
}

.primary-btn {
    width: 10rem;
    height: 3.25rem;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

/* header style section */
.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    width: 3rem;
    height: 3rem;
}

.logo h1 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.orenge {
    color: #FF5400;
}

.nav-list {
    display: flex;
    justify-content: space-around;
}

.nav-list li {
    list-style: none;
    padding-left: 2.75rem;
}

.nav-list li a {
    text-decoration: none;
    color: #424247;
    font-size: 1.2rem;
    font-weight: 400;
}

.nav-list li .home {
    font-weight: 700;
    color: #FF5400;
}

.menu {
    display: none;
    height: 50px;
    width: 50px;
}

/* banner style section */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 31.25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-tittle {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    text-align: center;
}

.banner p {
    max-width: 49rem;
    text-align: center;
}

.search-box {
    width: 80%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    max-width: 50rem;
    display: flex;
    justify-content: space-between;
}

.input {
    width: 10.8rem;
    /* height: 3.25rem; */
    border: none;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    padding: 16px;

}

/* popular section style  */

.popular-section {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.popular-content {
    width: 32rem;
}

.popular-content * {
    margin-bottom: 1.2rem;
    margin-top: 0px;
}

.popular-section .primary-discription {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.popular-place img {
    width: 100%;
    max-width: 540px;
}

/* destination style section */
.destination-section {
    text-align: center;
    margin-top: 100px;
}

.destination-section .secction-tittle {
    margin-bottom: 24px;
    margin-top: 0;
}

.destination-section .primary-discription {
    width: 35rem;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin: 0 auto 3rem;
}

.locations {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 300px;
    /* gap: 1rem; */

}

.place {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-repeat: no-repeat;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.place1 {
    grid-column: span 6;
    background-image: url(../Images/Rectangle\ 5.png);

}

.place2 {
    grid-column: span 6;
    background-image: url(../Images/Rectangle\ 8.png);

}

.place3 {
    grid-column: span 4;
    background-image: url(../Images/Rectangle\ 6.png);

}

.place4 {
    grid-column: span 5;
    background-image: url(../Images/Rectangle\ 7.png);
}

.place5 {
    grid-column: span 3;
    background-image: url(../Images/Rectangle\ 9.png);
}

.place6 {
    grid-column: span 5;
    background-image: url(../Images/Rectangle\ 11.png);
}

.place7 {
    grid-column: span 7;
    background-image: url(../Images/Rectangle\ 10.png);

}

/* service  style section  */
.service-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.service {
    width: 25rem;
    height: 15rem;
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 2rem;
    margin-right: 28px;
    margin-bottom: 28px;
}

.service-section>.primary-discription {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin-bottom: 48px;
    width: 40rem;
}

.row {
    display: flex;
    justify-content: space-between;

}

.service img {
    height: 4rem;
    width: 4rem;
}

.service h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.service .primary-discription {
    color: #131318;
}

/* Deal section style  */

.deals-section>.secction-tittle {
    text-align: center;
}
.deal-btn{
    display: flex;
    justify-content: center;
}
.deals-section>.primary-btn {
    text-align: center;
}

.deals-section>p {
    margin: 0 auto 3rem;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.deal {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    margin-bottom: 1.25rem;
}

.deal-1 {
    background-image: url(../Images/Group\ 40.png);
    display: flex;
    justify-content: flex-end;
}

.deal-2 {
    background-image: url(../Images/Group\ 39.png);
}

.deal-3 {
    background-image: url(../Images/Group\ 40.png);
    display: flex;
    justify-content: flex-end;
}

.deal-content {
    width: 32rem;
    height: 20rem;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
}

.deal-content h3 {
    color: #FF5400;
}

.deal-content .secction-tittle {
    margin: 1.5rem 0 1rem 0;
}

.deal-detail {
    display: flex;
    align-items: center;
}

.deal-detail p {
    padding-right: 20px;
    padding-left: 5px;
    margin: 0;
}

/* video style section */

.video-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.video-content {
    width: 100%;
    max-width: 33rem;
}

.video-content .secction-tittle {
    margin-bottom: 1.5rem;
}

.video-content p {
    margin-bottom: 1.5rem;
}

.video-section ul li {
    font-weight: 700;
    color: #131318;
    margin-bottom: 1rem;
}

.video-content .primary-btn {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

video {
    border-radius: 1rem;
}

/* Newsletter section style */
.Newsletter-section {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.Newsletter-section .secction-tittle {
    margin-bottom: 0;
    margin-top: 0;
}

.Newsletter-section p {
    color: #131318;
    text-align: center;
    margin-top: 0;
}

.form-section {
    width: 30%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 3rem;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input-fild {
    width: 100%;
    height: 2rem;
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;
    font-weight: 400;
    padding: 1.2rem 1rem;
    margin-bottom: 2px;
}

.form-section .primary-btn {
    width: 100%;
    height: 4rem;
    padding: 1.2rem 1rem;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 800;
}

.Discount-section {
    width: 60%;
    position: relative;
}

.Discount-section img {
    width: 100%;
}

.Discount-btn {
    width: 100%;
    max-width: 20.25rem;
    height: 7.5rem;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 3rem;
    right: .3rem;
    cursor: pointer;
}

.Discount-btn p {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: .5rem;
}

.Discount-btn h3 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0;
}

/* footer style section */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(19, 19, 24, 0.05);
}

.footer .primary-discription {
    color: #5A5A5D;
    text-align: center;
    max-width: 700px;
    width: 100%;
}

.media-box a {
    color: #131318;
    font-size: 2rem;
    padding: 1.6rem;
}

.copy-right {
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    margin-top: 6.25rem;
}

@media screen and (max-width:600px) {

    .search-box,
    .popular-section,
    .row,
    .video-section,
    .Newsletter-section {
        flex-direction: column;
        align-items: center;
    }

    .conteiner {
        width: 90%;
        padding: 0 2rem;
    }

    .service,
    .service-section>.primary-discription,
    .popular-place img,
    .destination-section .primary-discription,
    .deal,
    .Discount-section {
        width: 100%;
        margin: 0;
    }

    .input,
    .find-now,
    .popular-content, hr {
        width: auto;
        margin-top: 16px;
    }
    .deal{
        margin-bottom: 1rem;
    }
    .menu {
        display: block;
        font-size: 1.5rem;
        padding-top: 5px;
        padding-right: 20px;
    }

    .nav-list {
        display: none;
    }

    .locations {
        grid-template-columns: repeat(1, 1fr);
    }

    .deal-content {
        width: 50%;
        height: 50%;
    }

    .deal-detail {
        flex-wrap: wrap;
    }

    .form-section {
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }

    .form-section {
        width: 70%;
    }

    video {
        width: 335px;
        height: 200px;
    }

    .Discount-section img {
        width: 100%;
    }

    .Discount-btn {
        transform: rotate(-19.628deg) scale(.5);
        bottom: -8px;
        right: -60px;
    }
}